<div class="card mat-card" id="first-card">
  <div id="profile-background">
    <img
      id="info-back-img"
      [src]="
        persona.encabezado.imagenDeFondo!
          ? persona.encabezado.imagenDeFondo
          : defoultWall
      "
    />
  </div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img
        id="info-user-img"
        class="profile-image"
        [src]="
          persona.encabezado.fotoPerfil!
            ? persona.encabezado.fotoPerfil
            : defoultProfileImg
        "
      />
      <div class="btn-edit">
        <a class="btn-right"
          ><i
            class="fa fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#editProfile"
          ></i
        ></a>
      </div>
    </div>
    <div id="info-data">
      <div>
        <h1 id="info-name">{{ persona.encabezado.nombre }}</h1>
        <br />
        <h5 id="info-name">
          Fecha de Nacimiento: {{ persona.encabezado.fechaNacimiento }}
        </h5>
        <h5 id="info-name">
          Nacionalidad: {{ persona.encabezado.nacionalidad }}
        </h5>
        <div>
          <span id="info-position">{{ persona.encabezado.posicion }}</span> en
          <span id="info-company">{{ persona.encabezado.compania }}</span>
        </div>
        <div id="info-contact">
          <span id="info-ubication">{{ persona.encabezado.ubicacion }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal edita Encabezado -->

<div
  class="modal fade"
  id="editProfile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Encabezado</h5>
        <button
          type="button"
          class="Close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            placeholder="Enter name"
            [(ngModel)]="modalData.nombre"
            [value]="persona.encabezado.nombre"
          />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
          <input
            type="text"
            class="form-control"
            id="inputFechaNacimiento"
            placeholder="Enter fecha de nacimiento"
            [(ngModel)]="modalData.fechaNacimiento"
          />
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputNacionalidad">Nacionalidad</label>
          <input
            type="text"
            class="form-control"
            id="inputNacionalidad"
            placeholder="Enter nacionalidad"
            [(ngModel)]="modalData.nacionalidad"
          />
        </div>
        <div class="modal-body">
          <label for="inputPosition">Posición</label>
          <input
            type="text"
            class="form-control"
            id="inputPosition"
            placeholder="Enter position"
            [(ngModel)]="modalData.posicion"
          />
        </div>
        <div class="modal-body">
          <label for="inputCompany">Compañia</label>
          <input
            type="text"
            class="form-control"
            id="inputCompany"
            placeholder="Enter company"
            [(ngModel)]="modalData.compania"
          />
        </div>
        <div class="modal-body">
          <label for="inputUbication">Ubicación</label>
          <input
            type="text"
            class="form-control"
            id="inputUbication"
            placeholder="Enter ubication"
            [(ngModel)]="modalData.ubicacion"
          />
        </div>
        <div class="modal-body">
          <label for="inputImagenDeFondo">URL de Imagen de Fondo</label>
          <input
            type="text"
            class="form-control"
            id="inputImagenDeFondo"
            placeholder="Enter ImagenDeFondo"
            [(ngModel)]="modalData.imagenDeFondo"
            [value]="persona.encabezado.nombre"
          />
        </div>
        <div class="form-group">
          <label for="inputFotoPerfil">URL de Foto de Perfil</label>
          <input
            type="text"
            class="form-control"
            id="inputFotoPerfil"
            placeholder="Enter FotoPerfil"
            [(ngModel)]="modalData.fotoPerfil"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="saveEditEncabezadoModal(persona.id)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
