<div class="card mat-card">
  <div class="card-titles">
    <h2>Hard Skills & Soft Skills</h2>
    <div class="btn-edit">
      <a class="btn-right"
        ><i
          class="fa fa-plus"
          data-bs-toggle="modal"
          data-bs-target="#newApt"
        ></i
      ></a>
    </div>
  </div>
  <ol class="items-list">
    <li *ngFor="let habilidad of persona.habilidades">
      <div class="aptitude-info">
        <a
          data-bs-toggle="modal"
          data-bs-target="#delApt"
          (click)="selectItem(habilidad)"
          href="#"
        >
          <p>
            <br />
            <span>{{ habilidad.nombre }}</span>
          </p>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              style="{{ habilidad.valor }}"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </a>
      </div>
    </li>
  </ol>
</div>

<!-- Modal nueva aptitud -->
<div
  class="modal fade"
  id="newApt"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputApt">Aptitud</label>
          <input
            type="text"
            class="form-control"
            id="inputApt"
            placeholder="Enter Aptitude"
            [(ngModel)]="modalData.nombre"
          />
        </div>
        <div class="form-group">
          <label for="inputApt">Porcentaje</label>
          <input
            type="number"
            class="form-control"
            id="inputPorc"
            placeholder="Enter Porcentaje"
            [(ngModel)]="modalData.valor"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveNewHabModal(persona.id)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete  -->
<div
  class="modal fade"
  id="delApt"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Aptitud</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteHabModal(persona.id, myItemModal)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
