<div class="card mat-card">
  <div id="education">
    <div class="card-titles">
      <h2>Educación</h2>
      <div class="btn-edit">
        <a class="btn-right"
          ><i
            class="fa fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#newEdu"
          ></i
        ></a>
      </div>
    </div>
    <div>
      <ul class="items-list" id="eduList">
        <li *ngFor="let educacion of persona.estudios">
          <div class="card mb-3" style="max-width: 540px">
            <div class="col container-fluid">
              <div class="row justify-content-md-right">
                <a class="d-flex flex-row-reverse"
                  ><i
                    class="fa fa-minus-circle"
                    (click)="deleteEducacion(persona.id, educacion)"
                  ></i
                ></a>
              </div>
              <div class="row container-fluid">
                <div class="col-md-4">
                  <img
                    src="{{
                      educacion.imagen! ? educacion.imagen : defoultImage
                    }}"
                    class="card-img"
                    alt="Colocar Imagen URL"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ educacion.titulo }}</h5>
                    <h5 class="card-title">{{ educacion.escuela }}</h5>
                    <h5 class="card-title">{{ educacion.gpa }}</h5>
                    <p class="card-text">
                      <small class="text-muted"
                        >Desde: {{ educacion.fechaInicio }} Hasta:
                        {{ educacion.fechaFin }}</small
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal nueva Educacion -->
<div
  class="modal fade"
  id="newEdu"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cargar Educacion</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputSchool">Institucion</label>
          <input
            type="text"
            class="form-control"
            id="inputSchool"
            placeholder="Enter school"
            [(ngModel)]="modalData.escuela"
          />
        </div>
        <div class="form-group">
          <label for="inputTitle">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="inputTitle"
            placeholder="Enter title"
            [(ngModel)]="modalData.titulo"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolImage">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolImage"
            placeholder="Enter image"
            [(ngModel)]="modalData.imagen"
          />
        </div>
        <div class="form-group">
          <label for="inputCareer">Carrera</label>
          <input
            type="text"
            class="form-control"
            id="inputCareer"
            placeholder="Enter career"
            [(ngModel)]="modalData.carrera"
          />
        </div>
        <div class="form-group">
          <label for="inputScore">GPA</label>
          <input
            type="number"
            class="form-control"
            id="inputScore"
            placeholder="Enter score"
            [(ngModel)]="modalData.gpa"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolInitial">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolInitial"
            placeholder="Enter initial date"
            [(ngModel)]="modalData.fechaInicio"
          />
        </div>
        <div class="form-group">
          <label for="inputSchoolEnd">Fecha Final</label>
          <input
            type="text"
            class="form-control"
            id="inputSchoolEnd"
            placeholder="Enter end date"
            [(ngModel)]="modalData.fechaFin"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveNewEduModal(persona.id)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
