<div class="card mat-card">
  <div id="experience">
    <div class="card-titles">
      <h2>Experiencia</h2>
      <div class="btn-edit">
        <a class="btn-right"
          ><i
            class="fa fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#newExp"
          ></i
        ></a>
      </div>
    </div>
    <div>
      <ul class="items-list" id="expList">
        <li *ngFor="let experiencia of persona.experiencias">
          <div class="card mb-3" style="max-width: 540px">
            <div class="col container-fluid">
              <div class="row justify-content-md-right">
                <a class="d-flex flex-row-reverse"
                  ><i
                    class="fa fa-minus-circle"
                    (click)="deleteExperiencia(persona.id, experiencia)"
                  ></i
                ></a>
              </div>
              <div class="row container-fluid">
                <div class="col-md-4">
                  <img
                    src="{{
                      experiencia.imagen! ? experiencia.imagen : defoultImage
                    }}"
                    class="card-img"
                    alt="Colocar Imagen URL"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ experiencia.posicion }}</h5>
                    <h5 class="card-title">{{ experiencia.compania }}</h5>
                    <p class="card-text">
                      <small class="text-muted"
                        >Desde: {{ experiencia.fechaInicio }} Hasta:
                        {{ experiencia.fechaFin }}</small
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal New Experience -->
<div
  class="modal fade"
  id="newExp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Cargar Experiencia Laboral
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputPositionExp">Position</label>
          <input
            type="text"
            class="form-control"
            id="inputPositionExp"
            placeholder="Enter position"
            [(ngModel)]="modalData.posicion"
          />
        </div>
        <div class="form-group">
          <label for="inputCompanyExp">Company</label>
          <input
            type="text"
            class="form-control"
            id="inputCompanyExp"
            placeholder="Enter company"
            [(ngModel)]="modalData.compania"
          />
        </div>
        <div class="form-group">
          <label for="inputImgExp">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputImgExp"
            placeholder="Enter image"
            [(ngModel)]="modalData.imagen"
          />
        </div>
        <!-- <div class="form-group">
          <label for="inputModeExp">Modo</label>
          <input
            type="text"
            class="form-control"
            id="inputModeExp"
            placeholder="Enter Mode"
          />
        </div> -->
        <div class="form-group">
          <label for="inputInitialExp">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputInitialExp"
            placeholder="Enter initial date"
            [(ngModel)]="modalData.fechaInicio"
          />
        </div>
        <div class="form-group">
          <label for="inputEndExp">Fecha Fin</label>
          <input
            type="text"
            class="form-control"
            id="inputEndExp"
            placeholder="Enter end date"
            [(ngModel)]="modalData.fechaFin"
          />
        </div>
        <!-- <div class="form-group">
          <label for="inputTimeExp">Tiempo en el trabajo</label>
          <input
            type="text"
            class="form-control"
            id="inputTimeExp"
            placeholder="Enter time in position"
          />
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveNewExpModal(persona.id)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Experience -->
<div
  class="modal fade"
  id="editExp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputCompanyExpEdit">Company</label>
          <input
            type="text"
            class="form-control"
            id="inputCompanyExpEdit"
            placeholder="Enter company"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="inputPositionExpEdit">Position</label>
          <input
            type="text"
            class="form-control"
            id="inputPositionExpEdit"
            placeholder="Enter position"
          />
        </div>
        <div class="form-group">
          <label for="inputImgExpEdit">Imagen</label>
          <input
            type="text"
            class="form-control"
            id="inputImgExpEdit"
            placeholder="Enter image"
          />
        </div>
        <div class="form-group">
          <label for="inputModeExpEdit">Modo</label>
          <input
            type="text"
            class="form-control"
            id="inputModeExpEdit"
            placeholder="Enter Mode"
          />
        </div>
        <div class="form-group">
          <label for="inputInitialExpEdit">Fecha Inicio</label>
          <input
            type="text"
            class="form-control"
            id="inputInitialExpEdit"
            placeholder="Enter initial date"
          />
        </div>
        <div class="form-group">
          <label for="inputEndExpEdit">Fecha Fin</label>
          <input
            type="text"
            class="form-control"
            id="inputEndExpEdit"
            placeholder="Enter end date"
          />
        </div>
        <div class="form-group">
          <label for="inputTimeExpEdit">Tiempo en el trabajo</label>
          <input
            type="text"
            class="form-control"
            id="inputTimeExpEdit"
            placeholder="Enter time in position"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="saveEditExpModal($('#inputCompanyExpEdit').val())"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
